html
  head
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    link(rel='stylesheet' type='text/css', href='/index.css')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet")
  body
    h1 syn-forms
    syn-form
    script(type='text/javascript', src='/index.bundle.js')
    script(type='text/javascript').
      angular.bootstrap( document.body, [ syn.forms.angular.getModule().name ] )
