html
  head
    link( rel="stylesheet" type="text/css" href="/index.css" )
  body
    h1 BackOffice
    script(type='text/javascript') window.env = '#{env}'
    script(type='text/javascript', src='/index.bundle.js')
