.formly-field {
  margin-bottom: $spacing / 2;
}

.field-multi-language {
  .form-control[disabled] { display: none; }
  .form-control { margin-bottom: 15px; }
  .form-group { margin-bottom: 0; }
}

.formly-field-textarea {
  textarea {
    max-width: 100%;
    min-height: 8em;
  }
}

.formly-field-radio {
  @include clearfix;
  .radio {
    float: left;
    margin: $spacing / 2;
    margin-left: 0;
  }
}

.formly-field-multiCheckbox {
  @include clearfix;

  .checkbox {

    label {
      width: 100%;
    }

    margin: $spacing / 4 0;
    @include columns;
  }
}

.field-many-to-many-values {
  @include clearfix;

  display: block;
  clear: both;

  .formly-field {
    @include columns;

    .form-group {
      margin: 0;
      font-size: 90%;
    }

    .form-control {
      font-size: inherit;
    }

  }
}

@media #{$large-up} {
  form > ng-form {
    @include clearfix;
    display: block;
    clear: both;

    & > .formly-field {
      @include columns;
    }
  }
}
