syn-auth-login-form( ng-if="!userLogged" url="loginUrl" channel="{{ loginChannel }}")
  img(ng-src="{{logo}}")
.syn-bo-layout(ng-if="userLogged")
  syn-app-header.syn-bo-layout_header
    logo 
      img(ng-src="{{logo}}")

syn-nav-stack.syn-bo-layout_aside(
  ng-show="userLogged"
  options="menuConfig" 
  channel="{{ menuChannel }}"
  compact
)
.syn-bo-layout_main(ng-if="userLogged")
  ui-view
